<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cart.css">
</head>
<body>
    <h1>cart</h1>
    <a href="/">home</a>
    <div class="carts">
        <% cart.forEach(elem=>{%>
            <div class="cart">
                <img src="<%= elem.image%>" alt="">
                <h3><%= elem.title%></h3>
                <h4><%= elem.description%></h4>
                <h5><%= elem.price%> $</h5>
                <button data-n="<%=elem.id%>" >delete</button>
            </div>
        <% })%>
    </div>
    <script src="cart.js"></script>
</body>
</html>